{% extends "base.html" %}

{% block content %}
    <h1>Add a new customer</h1>
    <form action="" method="post">
        {{ add_customer_form.hidden_tag() }}
        <p>
            {{ add_customer_form.customer_name.label }}<br>
            {{ add_customer_form.customer_name(size=32) }}<br>
        </p>
        <p>{{ add_customer_form.submit(class="btn btn-primary") }}</p>
    </form>
    {% if customer %}
        <p>Customer added successfully!</p>
        <p>{{ customer | safe}}</p>
    {% endif %}
{% endblock %}
