{% extends "base.html" %}

{% block content %}
  <h1 class="text-center mb-4">Sign in</h1>
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <form method="post" action="{{ url_for('main.login') }}">
        {{ form.csrf_token }}
        <div class="form-group">
          {{ form.username.label(class="form-label") }}
          {{ form.username(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.password.label(class="form-label") }}
          {{ form.password(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.remember_me(class="form-check-input") }}
          {{ form.remember_me.label(class="form-check-label") }}
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
        <div class="text-center">
            <p>Don't have an account? <a href="{{ url_for('main.register') }}">Register</a></p>
            <p>Forgot your password? <a href="{{ url_for('main.forgot_password') }}">Forgot Password?</a></p>
          </div>
          
      </form>
    </div>
  </div>
{% endblock %}
